@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
/* font-family: 'Open Sans', sans-serif; */

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-items{
    margin-right: -15em;
    display: flex;
    list-style-type: none;
    gap:4em;
    font-weight: 600;
}
.menu-item{
    font-size: 20px;
    color:#999;
    font-weight: 600;
}
.active-menu-item{
    color: #14263F;
}

.register button{
    font-size: 20px;
    font-weight: 900;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 70px;
    width: 245px;
    border-radius: 10px;
    border: 2px solid  #0f95fb;
    background: -webkit-linear-gradient(#09BEF8, #0461EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro{
    margin-top: 5em;
    padding:10em;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    gap: 5em;
}

.img-section img{
    height: 100%;
}
.text-section{
    /* margin-top: -6em; */
    padding: 20px;
}
.text-section h2{
    font-size: 60px;
    color: #14263F;
}
.text-section p{
    font-size: 20px;
    font-weight: 500;
    color: #666;
    margin-right: 20px;
    padding: 1.4em 0;
    line-height: 2em;

}
.intro-btn{
font-size: 20px;
font-weight: 600;
margin-top: 2em;
height: 70px;
width: 245px;
border-radius: 10px;
background: -webkit-linear-gradient(#09BEF8, #0461EA);
color: #fff;
border: 0;
box-shadow: 0 10px 20px #07678755;
}


.service-text{
    margin-top: -6em;
    width: 120em;
    padding: 5.5em 0em 5.5em 5.5em;
}
.service-text h2{
    font-size: 70px;
    color: #14263F;
}

.services{
    display: flex;
    flex-direction: column;
    margin: -30em 5em 15em 5em;
}
.service-wrapper{
    display: flex;
    margin: 0 10em;
}
.service{
    margin: 5em 4em;
}
.service img{
    height: 70px;
}
.service h3{
    font-size: 40px;
    padding: 40px 0;
    color: #14263F;
}
.service p{
    font-size: 20px;
    font-weight: 600;
    color: #999;
    line-height: 40px;
}
.cards{
    background: -webkit-linear-gradient(#09BEF8, #0461EA);
}
.cards h1{
    padding-top: 1.5em;
    font-size: 60px;
    color: #fff;
    text-align: center;
}
.cards-wrapper{
    display: flex;
    padding: 5em 15em;
    gap: 2em;
}
.card{
    background-color: #fff;
    width: 27em;
    border: 0;
    border-radius: 20px;
    /* padding: 0 20px; */
}
.card-top{
    padding: 3em 0 1em 0em;
    padding-left:1.2em;
    /* background-color: #666; */
}
.active-top{
    background-color: #333;
    border-radius: 20px 20px 0 0;
}
.active-top h3{
    color: #fff !important;
}
.card-top h3{
    padding-left: 20px;
    font-size: 38px;
    color: #14263F;
}
.card-top p{
    padding: 20px 20px;
    font-size: 20px;
    color: #999;
    font-weight: 600;
}
.card-mid {
    padding-left: 20px;
    padding-top: 30px;

}
.card-mid h5{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #14263fc0;
    font-size: 20px;
    padding: 15px;
}

.card-mid img{
    height: 30px;
}
.card-bottom{
    display: flex;
    margin-top: 5em;
    flex-direction: column;
    align-items: center;
}
.card-bottom h2{
    font-size: 40px;
    color: #14263F;
    padding:15px 0;
}
.card-bottom h2 span{
    color: #999;
}
.card-bottom p{
    font-size: 20px;
    color: #999;
    font-weight: 600;
}

.active-card-button{
    font-size: 20px;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 70px;
    width: 245px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#09BEF8, #0461EA);
    color: #fff;
    border:0;
}
.card-button{
    font-size: 20px;
    font-weight: 900;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 70px;
    width: 245px;
    border-radius: 10px;
    border: 2px solid  #0f95fb;
    background: -webkit-linear-gradient(#09BEF8, #0461EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reviews {
margin: 10em 0;
}
.reviews h1 {
    font-size: 60px;
    color: #14263F;
    text-align: center;
}
.reviews>p {
    font-size: 20px;
    color: #999;
    font-weight: 600;
    text-align: center;
    padding: 40px 22em;
}
.review-wrapper{
    display: flex;
    gap: 3em;
    margin-bottom: 1em;
    padding: 1em 15em;
}
.review {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0 10px 20px #ddd;
}
.review p{
    font-size: 20px;
    color:#14263fa7;
    font-weight: 600;
}
.author{
    display: flex;
    margin-top: 35px;
    
}
.img{
    background-color: #ddd;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.designation{
    padding: 20px;

}
.designation h5{
    font-size: 20px;
    color: #14263F;
}
.designation p{
    padding-top: 10px;
    font-size: 18px;
    color: #888;
}
.contact {
    display: flex;
    height: 30em;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(#09BEF8, #0461EA);

}
.contact-text{
    margin-left: 12em;
    margin-right: 15em;
}
.contact h1{
    font-size: 60px;
    color: #fff;
}
.contact p{
    padding-top: 30px;
    font-size: 18px;
    color: #ffffffb3;
    
}
.contact button{
    font-size: 20px;
    font-weight: 600;
    margin: 0em 10em 0em 20em;
    height: 70px;
    width: 245px;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    border:1px solid #fff;
}

.footer{
    margin: 10em 10em 5em 10em;
    display: flex;
    gap: 10em;
}
.footer-left img{
    height: 40px;
}
.footer-left p{
    font-size: 18px;
    color:#999;
    line-height: 35px;
    font-weight: 600;
}

.footer-mid{
    display: flex;
    gap: 7em;
}
.foot-wrap h3{
    font-size: 27px;
    color: #14263F;
}
.foot-wrap p{
    width: 10em;
    padding-top: 22px;
    font-size: 17px;
    color:#999;
    font-weight: 500;
}
.footer-right h4{
    font-size: 28px;
    color: #14263F;

}
.soci-icons{
    margin-top: 1em;
    display: flex;
    height: 45px;
    gap: 10px;
}